@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700');
@import url('https://fonts.googleapis.com/css2?family=VT323');

body {
    background-image: linear-gradient(to top, #01224f, #00529a, #0094d4, #98daf8, #f0f5f7);
    font-family: 'Courier Prime', monospace;
    color: #f0f5f7;
}

h1 {
    font-family: "VT323", monospace;
    text-align: center;
    font-size: 50px;
    color: #00f7ff;
}

#contenedor {
    background: rgba(0, 0, 0, 0.5);
    width: 600px;
    height: 1000px;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 15px 25px rgba(0, 0, 0, 0.5);
}

#calculadora {
    width: 100%;
    height: 40%;
    float: inline-end;
    text-align: center;
}

#resultadoHS,
#resultadoSC1500,
#resultadoSC2000 {
    width: 50%;
    float: left;
    text-align: left;
    margin-top: 19px;
    display: none;
}

#comoSeCalcula {
    width: 100%;
    height: 60%;
    float: left;
}

.contenido {
    position: relative;
    top: 25%;
    transform: translateY(-25%);
}

input {
    font-family: "VT323", monospace;
    font-size: 20px;
    width: 50%;
    padding: 10px 10px;
    border: none;
    background-color: #f0f5f7;
}

button {
    font-family: "VT323", monospace;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: #01224f;
    border: none;
    color: #00f7ff;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: transform 20ms ease-in;
}

button:active {
    transform: scale(0.95);
    background-color: #00193b;
    color: #00b5bb;
}

.error {
    color: #c20000;
    font-size: 22px;
    display: none;
}