@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700');
@import url('https://fonts.googleapis.com/css2?family=VT323');

body {
    background-image: linear-gradient(to top, #00224e, #00529a, #0195d4, #99daf9, #f0f4f6);
    font-family: 'Courier Prime', monospace;
    color: #f0f4f6;
}

h1 {
    font-family: "VT323", monospace;
    text-align: center;
    font-size: 50px;
    color: #00b7ff;
}

#contenedor {
    background: rgba(0, 0, 0, 0.5);
    width: 600px;
    height: 1000px;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 15px 25px rgba(0, 0, 0, 0.5);
}

#calculadora {
    width: 100%;
    height: 40%;
    float: inline-end;
    text-align: center;
}

#resultadoHS,
#resultadoSC1500,
#resultadoSC2000 {
    width: 50%;
    float: left;
    text-align: left;
}

#comoSeCalcula {
    width: 100%;
    height: 60%;
    float: left;
}

.contenido {
    position: relative;
    top: 25%;
    transform: translateY(-25%);
}

input {
    font-family: "VT323", monospace;
    font-size: 20px;
    width: 50%;
    padding: 10px 10px;
    border: none;
    background-color: #f0f4f6;
}

button {
    font-family: "VT323", monospace;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: #00224e;
    border: none;
    color: #00b7ff;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: transform 20ms ease-in;
}

button:active {
    transform: scale(0.95);
    background-color: #001836;
    color: #0093ce;
}

.error,
#resultadoHS,
#resultadoSC1500,
#resultadoSC2000 {
    display: none
}